<ion-header>
  <ion-toolbar>
    <div class="logo">
      <h1>DressForU</h1>
    </div>
    <ion-buttons slot="end">
      <ion-button routerLink="">
        Accueil
      </ion-button>
      <ion-button routerLink="/dresses">
        Robes
      </ion-button>
      <ion-button routerLink="/categories">
        Catégories
      </ion-button>
      <ion-button routerLink="/contact">
        Contact
      </ion-button>
      <ion-button routerLink="/login">
        Se connecter
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <img [src]="dress.picture" alt="Image de la robe">
      </ion-col>
      <ion-col >
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ dress.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ dress.price }} €</p>
            <p>{{ dress.material }}</p>
            <p>{{ dress.size }}</p>
            <p>{{ dress.material }}</p>
          </ion-card-content>
          <ion-button expand="full" routerLink="/dresses" style="margin-top: 10px;">Précédent</ion-button>
          <ion-button expand="full" routerLink="/updatedress/{{dress.iddress}}">Mettre à jour</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


