<ion-header>
  <ion-toolbar>
    <ion-title>
      DressForU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="left-column">
      <img [src]="dress.picture" alt="Image de la robe">
    </div>
    <div class="right-column">
      <h2>{{ dress.name }}</h2>
      <p> {{ dress.price }} €</p>
      <p>{{ dress.material }}</p>
      <p>{{ dress.size }}</p>
      <p>{{ dress.material }}</p>

      <div class="button-container">
        <ion-button routerLink="/dresses" expand="block" color="primary" style="margin-right: 10px;">Précédent</ion-button>
        <ion-button routerLink="/updatedress/{{dress.iddress}}" expand="block" color="primary">Mettre à jour</ion-button>
      </div>
    </div>
  </div>
</ion-content>
