<ion-header>
  <ion-toolbar>
    <div class="logo">
      <h1>DressForU</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <nav>
    <ul>
      <li><a routerLink="">Accueil</a></li>
      <li><a routerLink="/dresses">Robes</a></li>
      <li><a routerLink="/categories">Catégories</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/login">Se connecter</a></li>
    </ul>
  </nav>
 

  <div class="ribbon-container">
    <div class="image-container">
      <ion-img src="https://images.pexels.com/photos/15890476/pexels-photo-15890476/free-photo-of-femme-debout-robe-cour.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Robe 1"></ion-img>
      <ion-img src="https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Robe 2"></ion-img>
      <ion-img src="https://images.pexels.com/photos/356170/pexels-photo-356170.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Robe 3"></ion-img>
      <ion-img src="https://images.pexels.com/photos/276518/pexels-photo-276518.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Robe 4"></ion-img>
      <ion-img src="https://images.pexels.com/photos/908935/pexels-photo-908935.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Robe 5"></ion-img>
      <ion-img src="https://images.pexels.com/photos/2221149/pexels-photo-2221149.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Robe 6"></ion-img>
      <ion-img src="https://images.pexels.com/photos/15890476/pexels-photo-15890476/free-photo-of-femme-debout-robe-cour.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Robe 1"></ion-img>
    </div>
  </div>
</ion-content>
