<ion-header>
  <ion-toolbar>
    <div class="logo">
      <h1>DressForU</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-nav>
    <nav>
      <ul>
        <li><a routerLink="">Accueil</a></li>
        <li><a routerLink="/dresses">Robes</a></li>
        <li><a routerLink="/categories">Catégories</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/login">Se connecter</a></li>
      </ul>
    </nav>

    <div class="form-container">
      <h2>Connexion</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label>Pseudo:</ion-label>
          <ion-input type="text" formControlName="pseudo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Mot de passe:</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" class="add-button">Se connecter</ion-button>
        <div *ngIf="message">{{ message }}</div>
      </form>

      <a routerLink="/register">Nouveau membre ? Enregistez-vous</a>
    </div>
  </ion-nav>
</ion-content>

