<ion-header>
  <ion-toolbar>
    <div class="logo">
      <h1>DressForU</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <nav>
    <ul>
      <li><a routerLink="">Accueil</a></li>
      <li><a routerLink="/dresses">Robes</a></li>
      <li><a routerLink="/categories">Catégories</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/login">Se connecter</a></li>
    </ul>
  </nav>

  <div class="form-container">
    <h2>Contactez-nous</h2>
    <p>Nom de l'entreprise : DressForU</p>
    <p>Adresse : Rue du Dress, Bruxelles, Belgique</p>
    <p>Téléphone : +321234567</p>
    <p>Email : contact@dressforu.com</p>
  </div>
</ion-content>

