<ion-header>
  <ion-toolbar>
    <div class="logo">
      <ion-title>DressForU</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Modification de la robe</h2>
        <form [formGroup]="catForm" (ngSubmit)="sendForm()">
          <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
  
          <ion-button expand="full" type="submit">Mettre à jour</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

