.logo {
    text-align: center;
    background-color: white;
    padding: 10px;
  }
  
  h1 {
    margin: 0;
    color:#9866C7;
  }
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    
  .form-container input {
  width: 100%;}

  
  .form-container label {
    width: 120px;
    text-align: right;
    margin-right: 10px;  }
  
  
  
    .form-container button {
        padding: 10px 20px;
        background-color: #9866C7;
        color: #9866C7;
        border: none;
        cursor: pointer;
      }
      
      .form-container button:hover {
        background-color: #9866C7;
      }
