<ion-header>
  <ion-toolbar>
    <div class="logo">
      <h1>DressForU</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <nav>
    <ul>
      <li><a routerLink="">Accueil</a></li>
      <li><a routerLink="/dresses">Robes</a></li>
      <li><a routerLink="/categories">Catégories</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/login">Se connecter</a></li>
    </ul>
  </nav>

  <ion-grid *ngIf="category" class="container">
    <ion-row>
      <ion-col>
        <div>Détails de la catégorie :</div>
        <h2>{{ category.name }}</h2>
        <p>Robes appartenant à cette catégorie</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="dress-list">
          <ion-item *ngFor="let dressId of dressIds">
            <a routerLink="/dressdetail/{{ dressId }}">{{ dressNames[dressId] }}</a>
            
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <button class="button" routerLink="/updatecategory/{{category.idcategory}}">Mettre à jour</button>

  </ion-grid>
</ion-content>

