<ion-header>
  <ion-toolbar>
    <div class="logo">
      <h1>DressForU</h1>
    </div>
    <ion-buttons slot="end">
      <ion-button routerLink="">
        Accueil
      </ion-button>
      <ion-button routerLink="/dresses">
        Robes
      </ion-button>
      <ion-button routerLink="/categories">
        Catégories
      </ion-button>
      <ion-button routerLink="/contact">
        Contact
      </ion-button>
      <ion-button routerLink="/login">
        Se connecter
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="category" class="container">
    <ion-row>
      <ion-col>
        <div>Détails de la catégorie :</div>
        <h2>{{ category.name }}</h2>
        <p>Robes appartenant à cette catégorie</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="dress-list">
          <ion-item *ngFor="let dressId of dressIds">
            <a [routerLink]="['/dressdetail/', dressId]">{{ dressNames[dressId] }}</a>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <button class="button" routerLink="/updatecategory/{{category.idcategory}}">Mettre à jour</button>

  </ion-grid>
</ion-content>

