<ion-header>
  <ion-toolbar>
    <div class="logo">
      <h1>DressForU</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <nav>
    <ul>
      <li><a routerLink="">Accueil</a></li>
      <li><a routerLink="/dresses">Robes</a></li>
      <li><a routerLink="/categories">Catégories</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/login">Se connecter</a></li>
    </ul>
  </nav>
  <ion-list>
    <ion-item *ngFor="let dress of dresses" >

     <!--<ion-button (click)="goDressDetail(dress.iddress)">Voir détails </ion-button>--> 

      
      <ion-thumbnail slot="start">
        <ion-img [src]="dress.picture" alt="Image de la robe"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ dress.name }}</h2>
        <a routerLink="/dressdetail/{{ dress.iddress }}">Voir les détails</a>
        
      </ion-label>
      <ion-button slot="end" color="danger" (click)="deleteDress(dress.iddress)">
        Supprimer
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button class="add-button" routerLink="/adddress" expand="full">
    Ajouter une nouvelle robe
  </ion-button>
</ion-content>

