<ion-header>
  <ion-toolbar>
    <div class="logo">
      <h1>DressForU</h1>
    </div>
    <ion-buttons slot="end">
      <ion-button routerLink="">
        Accueil
      </ion-button>
      <ion-button routerLink="/dresses">
        Robes
      </ion-button>
      <ion-button routerLink="/categories">
        Catégories
      </ion-button>
      <ion-button routerLink="/contact">
        Contact
      </ion-button>
      <ion-button routerLink="/login">
        Se connecter
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dress-list">
    <ion-card *ngFor="let dress of dresses" class="dress-item">
      <ion-card-header>
        <h2>{{ dress.name }}</h2>
      </ion-card-header>
      <ion-card-content>
        <img [src]="dress.picture" alt="Image de la robe" class="dress-image">
        <a routerLink="/dressdetail/{{ dress.iddress }}">Voir les détails</a>
      </ion-card-content>
      <ion-buttons>
        <ion-button (click)="deleteDress(dress.iddress)">
          Supprimer
        </ion-button>
      </ion-buttons>
    </ion-card>
  </div>

  <div class="add-button-container">
    <ion-button class="add-button" routerLink="/adddress">
      Ajouter une nouvelle robe
    </ion-button>
  </div>
</ion-content>

