<ion-header>
  <ion-toolbar>
    <div class="logo">
      <h1>DressForU</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <h2>Modification de la robe</h2>
    <form [formGroup]="dressForm" (ngSubmit)="sendForm()">
      <ion-item>
        <ion-label>Nom:</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Photo:</ion-label>
        <ion-input type="text" formControlName="picture"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Prix:</ion-label>
        <ion-input type="number" formControlName="price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Matière:</ion-label>
        <ion-input type="text" formControlName="material"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Taille:</ion-label>
        <ion-input type="text" formControlName="size"></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Mettre à jour</ion-button>
    </form>
  </div>
</ion-content>
